table {
    font-size:15px; 
}

tr {
    page-break-inside: avoid;
    page-break-before: auto;
}

td { 
    border: 2px solid #000000; 
    text-align: center; 
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media print {
    table { font-size: 8pt; }
}
